body, h1, h2, td, th, p {
    margin: 1px;
    padding: 0;
}

body{
	background-color: #6699FF;
}

header{
	height: 150px;
	background-color: #0099CC;
}

h1 {
    margin: 0;
    text-align: left;
    padding: 2px;
    color:  black;
 }

h2 {
    color: black;
    text-align: left;
    padding: 2px;
}

p {
    margin: 0;
    font-style: italic;
    text-align: center;
}

li{
	float: left;
	list-style-type:none;
	margin:0;
	padding:0;
}

nav{
	width: 100%;
	height: 20px;
	padding: 0;
	list-style: none; 
	clear: both;
	background-color: #99CCFF;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

nav a{
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; 
}

nav a:hover{
	color: #c00;
	background-color: #99CCCC;
}

/*hovedkonteiner for bloggen*/
#wrap{
	margin-left: auto;
	margin-right: auto;
	width: 1000px; /* for simpelhetens skyld er kontaineren statisk*/
	background-color: #FFFFFF;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

footer{
 	width: auto;
 	clear: both;
 	margin: 0px;
 	text-align: center;
 	background: white;
}

#login{
	padding: 3px;
	background: white;	
}

/*til arkiv og innloggings delen*/
#rightbar{
	float: right;
	width: 200px;
}

/*arkiv css*/
#archive{
	padding-left: 30px;
}

.archiveItem a{
	font-size: 14px;
	padding-bottom: 3px;
}

/*registrering*/
#registrationform{
	width: 50%;
}

#registrationform input{
	margin-bottom: 3px;
}

#registrationform label{
	font-weight: bold;
	display: block;
	width: 150px;
	float: left;
}

#registrationform img{
	float: right;
}

/*kommentarer*/
#comments{
	padding-left: 15px;
	padding-top: 5px;
	background-color: #6699FF;
}

.addComment{
	padding-top: 10px;
	padding-left: 20px;
}

.addComment form textarea{
	width: 200px;
	height: 100px;
	resize: none;
	overflow: auto;
}

.comment {
	padding: 15px;
}

.comment h1{
	font-size: 16px;
	font-weight: bold;
	background-color: #CCCCCC;
}

.comment p{
	background-color: #FFFFFF;
}

/*artikler/innlegg*/
#articles{
	width: 790px;
	float: left;
	padding-top: 5px;
	padding-right: 10px;
	background: white;
}

article{
	padding-bottom: 15px;
}

article h1{
	font-size: 24px; 
	background-color: #0099CC;
}

article form{
	padding: 5px;
}

article form label{
  	margin-right:0.5em;
  	padding-top:0.2em;
  	text-align:right;
}

article form textarea{
	width: 99%;
	height: 300px;
	resize: none;
	overflow: auto;
}	

.articleContent{
	padding-top: 5px;
	padding-left: 10px;
}