body, h1, h2, td, th, p {
    margin: 1px;
    padding: 0;
}

body{
	background-color: #33CCCC;
}

header{
	height: 150px;
	background-color: #0099CC;
}

h1 {
    margin: 0;
    text-align: left;
    padding: 2px;
    color:  black;
 }

h2 {
    color: black;
    text-align: left;
    padding: 2px;
}

p, table, div {
    background: #f0ead8;
} 

p {
    margin: 0;
    font-style: italic;
    text-align: center;
}

table {
    width: 100%;
}

th, td {
    font-family: monospace;
    vertical-align: top;
    text-align: left;
    width: 50%;
}

td {
    color: green;
}

li{
	float: left;
	list-style-type:none;
	margin:0;
	padding:0;
}

nav{
	width: 100%;
	float: left;
	padding: 0;
	list-style: none; 
	background-color: #99FFFF;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

nav a{
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; 
}

nav a:hover{
	color: #c00;
	background-color: #99CCCC;
}

/*hovedkonteiner for bloggen*/
#wrap{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: #FFFFFF;
}

footer{
 	width: auto;
 	clear: both;
 	margin: 5px;
 	text-align: center;
 }



/*til arkiv og innloggings delen*/
.rightbar{
	float: left;
	width: 20%;
	
	/* Får ting til å se litt fancy ut */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


.archive{
	padding-bottom: 10px 0;
}

.login{
	
}

#articles{
	width: 70%;
	float: left;
}

article h1{
	font-size: 24px; 
	background-color: #0099CC;
}
