body, h1, h2, td, th, p {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    margin: 1px;
    padding: 0;
}

h1 {
    margin: 0;
    text-align: left;
    padding: 2px;
    background-color: #0099CC;
    color:  black;
    font-weight: bold;
    font-size: 1.2em;
 }

h2 {
    background-color: #33CCFF;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 2px;
    border-top: 1px solid black;
}

body {
    background: white; 
}

p, table, div {
    background: #f0ead8;
} 

p {
    margin: 0;
    font-style: italic;
    text-align: center;
}

table {
    width: 100%;
}

th, td {
    font-family: monospace;
    vertical-align: top;
    text-align: left;
    width: 50%;
}

td {
    color: green;
}

li{
	float: left;
	list-style-type:none;
	margin:0;
	padding:0;
}

nav{
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none; 
	background-color: #99FFFF;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;

	border-radius: 5px;
}

nav li{
	float: left;
}

nav li a{
	display: block;
	padding: 3px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; 
}

nav li a:hover{
	color: #c00;
	background-color: #99CCCC;
}

/*til arkiv og innloggings delen*/
.rightbar{
	float: left;
	width: 20%;
	
	/* Får ting til å se litt fancy ut */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.archive{
	padding-bottom: 10px 0;
}

.login{
	
}

.odd {
    background-color: #eeeeee;
}

.even {
    background-color: #fafafa;
}

.exectime {
    font-size: 0.8em;
    font-style: italic;
}

#table_assigned_vars th {
    color: blue;
}

#table_config_vars th {
    color: maroon;
}